<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="TaskConnectionString"
			 providerName="System.Data.SqlClient"
			connectionString="Data Source=DESKTOP-A2LCO1B\SQLEXPRESS;Initial Catalog=TaskManagementDB;Integrated Security=True"/>
	</connectionStrings>
</configuration>